# ==========================================
# Configuración de la Base de Datos (Supabase)
# ==========================================
# Reemplazar 'usuario', 'TU_PASSWORD_AQUI' y el 'host' con los datos reales de tu panel de Supabase.
DATABASE_URL=postgresql://postgres:vPhu!Q6VSCDN6G8@db.ihwstlkijwjidanvjieu.supabase.co:5432/postgres

# ==========================================
# Configuración del Servidor
# ==========================================
PORT=3000
NODE_ENV=development